<div class="banner_list">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('banner_home.jpeg') %>)">
      <div class="container">
        <h1>Space Out</h1>
        <p>Welcome to Space Out. The best place to find rooms and spaces to run your meetings and workshops.</p>
        <%= link_to 'Search Spaces', rooms_path, class: "btn btn-light" %>
      </div>
  </div>
</div>


<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Our highly rated spaces</h2>
  <div class="row">
  <% @rooms[0..2].each do |room| %>
    <div class="card text-center mx-3 my-3" style="width: 18rem;">
      <img src="<%= room.image_url %>" class="card-img-top" alt="Room Picture">
      <div class="card-body">
        <h5 class="card-title"><%= room.title %></h5>
        <p class="card-text text-muted"><%= room.description %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
