<div class="banner_list">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('banner_rooms.jpg') %>)">
      <div class="container">
        <h1>All our meeting spaces</h1>
  </div>
</div>

<div class="r<link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <div class="col-md-3">

    </div>

<div class="search">
  <div class="search-form">
        <%= form_tag rooms_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your space"
      %>
  </div>
        <%= submit_tag "Search", class: "btn btn-primary form-button" %>
      <% end %>
</div>

        <div class="indexcards">
            <div class="grid">
                <% @rooms.each do |room| %>
                    <article>
                    <div class="image">
                    <%= link_to room_path(room) do %>
                      <img src="<%= room.image_url %>" class="imgcard" alt="Room Picture">
                      <% end %>
                    </div>
                          <div class="text">
                              <h3><%= room.title %></h3>
                              <p class="text-muted"><%= room.description %></p>
                              <div class="center">
                                <%= link_to "Book now", new_room_booking_path(room), class: "btn btn-primary special-btn"%>
                                </div>
                          </div>
                  </article>
                <% end %>
            </div>
        < </div>
