<div class="banner_list">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('banner_rooms.jpg') %>)">
      <div class="container">
        <h1>All our beautiful meeting spaces</h1>
  </div>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Filters:", rooms_path, class: "sidebar-link active" %></li>
            <%# WE CAN ADD MORE LI OPTIONS HERE IF YOU WANT - filter by location?%>
        </ul>
    </div>

        <div class="indexcards">
            <div class="grid">
                <% @rooms.each do |room| %>
                    <article>
                    <div class="image">
                      <img src="<%= room.image_url %>" class="imgcard" alt="Room Picture">
                    </div>
                          <div class="text">
                              <h3><%= room.title %></h3>
                              <p><%= room.description %></p>
                                <%= link_to "Book now", new_room_booking_path(room), class: "btn btn-primary"%>
                          </div>
                  </article>
                <% end %>
            </div>
        < </div>
